/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woff2"),
         url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

.grilla16{
    display: grid;
    grid-template-columns: repeat(16,1fr) ;
    max-width: 1400px;
   

}
